.lsgc_grid-1,.lsgc_grid-10,.lsgc_grid-11,.lsgc_grid-12,.lsgc_grid-2,.lsgc_grid-3,.lsgc_grid-4,.lsgc_grid-5,.lsgc_grid-6,
.lsgc_grid-7,.lsgc_grid-8,.lsgc_grid-9,.lsgc_grid-all,.lsgc_grid-half,.lsgc_grid-quarter,.lsgc_grid-third,
.lsgc_grid-three-quarters,.lsgc_grid-two-thirds,.lsgc_grid-whole
{margin:0;clear:none;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;*behavior:url(boxsizing.htc)}
.lsgc_offset-0{margin-left:0}
.lsgc_grid-1{width:8.33333%}
.lsgc_offset-1{margin-left:8.33333%}
.lsgc_grid-2{width:16.66667%}
.lsgc_offset-2{margin-left:16.66667%}
.lsgc_grid-3,.grid-quarter{width:25%}
.lsgc_offset-3{margin-left:25%}
.lsgc_grid-4,.lsgc_grid-third{width:33.33333%}
.lsgc_offset-4{margin-left:33.33333%}
.lsgc_grid-5{width:41.66667%}
.lsgc_offset-5{margin-left:41.66667%}
.lsgc_grid-6,.lsgc_grid-half{width:50%}
.offset-6{margin-left:50%}
.lsgc_grid-7{width:58.33333%}
.lsgc_offset-7{margin-left:58.33333%}
.lsgc_grid-8,.lsgc_grid-two-thirds{width:66.66667%}
.lsgc_offset-8{margin-left:66.66667%}
.lsgc_grid-9,.grid-three-quarters{width:75%}
.lsgc_offset-9{margin-left:75%}
.lsgc_grid-10{width:83.33333%}
.lsgc_offset-10{margin-left:83.33333%}
.lsgc_grid-11{width:91.66667%}
.lsgc_offset-11{margin-left:91.66667%}
.lsgc_grid-12,.lsgc_grid-whole{width:100%}
.lsgc_offset-12{margin-left:100%}
.lsgc_padded{padding:.5em}
.lsgc_padded-left{padding-left:.5em}
.lsgc_padded-right{padding-right:.5em}
.lsgc_padded-top{padding-top:.5em}
.lsgc_padded-bottom{padding-bottom:.5em}
.lsgc_padded-sides{padding:0 .5em}
.lsgc_padded-vertical{padding:.5em 0}
.lsgc_padded-inner{padding:1em}
.lsgc_padded-inner-sides{padding:0 1em}
.lsgc_padded-reverse{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}
.lsgc_padded-reverse-all{margin:-.5em;width:auto;box-sizing:content-box;float:none}
.lsgc_flow-opposite{float:right}
.lsgc_center{text-align:center}
.lsgc_left{text-align:left}
.lsgc_right{text-align:right}
.lsgc_row{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}
@media (max-width:480px){
    .lsgc_s-grid-1,.lsgc_s-grid-10,.lsgc_s-grid-11,.lsgc_s-grid-12,.lsgc_s-grid-2,.lsgc_s-grid-3,.lsgc_s-grid-4,
    .lsgc_s-grid-5,.lsgc_s-grid-6,.lsgc_s-grid-7,.lsgc_s-grid-8,.lsgc_s-grid-9,.lsgc_s-grid-all,.lsgc_s-grid-half,
    .lsgc_s-grid-quarter,.lsgc_s-grid-third,.lsgc_s-grid-three-quarters,.lsgc_s-grid-two-thirds,
    .lsgc_s-grid-whole
    {margin:0;clear:none;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;*behavior:url(boxsizing.htc)}
    .lsgc_s-offset-0{margin-left:0}
    .lsgc_s-grid-1{width:8.33333%}
    .lsgc_s-offset-1{margin-left:8.33333%}
    .lsgc_s-grid-2{width:16.66667%}
    .lsgc_s-offset-2{margin-left:16.66667%}
    .lsgc_s-grid-3,.s-grid-quarter{width:25%}
    .lsgc_s-offset-3{margin-left:25%}
    .lsgc_s-grid-4,.lsgc_s-grid-third{width:33.33333%}
    .lsgc_s-offset-4{margin-left:33.33333%}
    .lsgc_s-grid-5{width:41.66667%}
    .lsgc_s-offset-5{margin-left:41.66667%}
    .lsgc_s-grid-6,.lsgc_s-grid-half{width:50%}
    .lsgc_s-offset-6{margin-left:50%}
    .lsgc_s-grid-7{width:58.33333%}
    .lsgc_s-offset-7{margin-left:58.33333%}
    .lsgc_s-grid-8,.lsgc_s-grid-two-thirds{width:66.66667%}
    .lsgc_s-offset-8{margin-left:66.66667%}
    .lsgc_s-grid-9,.lsgc_s-grid-three-quarters{width:75%}
    .lsgc_s-offset-9{margin-left:75%}
    .lsgc_s-grid-10{width:83.33333%}
    .lsgc_s-offset-10{margin-left:83.33333%}
    .lsgc_s-grid-11{width:91.66667%}
    .lsgc_s-offset-11{margin-left:91.66667%}
    .lsgc_s-grid-12,.lsgc_s-grid-whole{width:100%}
    .lsgc_s-offset-12{margin-left:100%}
    .lsgc_s-padded{padding:.5em}
    .lsgc_s-padded-left{padding-left:.5em}
    .lsgc_s-padded-right{padding-right:.5em}
    .lsgc_s-padded-top{padding-top:.5em}
    .lsgc_s-padded-bottom{padding-bottom:.5em}
    .lsgc_s-padded-sides{padding:0 .5em}
    .lsgc_s-padded-vertical{padding:.5em 0}
    .lsgc_s-padded-inner{padding:1em}
    .lsgc_s-padded-inner-sides{padding:0 1em}
    .lsgc_s-padded-reverse{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}
    .s-padded-reverse-all{margin:-.5em;width:auto;box-sizing:content-box;float:none}
    .s-flow-opposite{float:right}
    .s-center{text-align:center}
    .s-left{text-align:left}
    .s-right{text-align:right}
    .s-hidden{display:none}}
@media (min-width:481px) and (max-width:800px){
    .m-grid-1,.m-grid-10,.m-grid-11,.m-grid-12,.m-grid-2,.m-grid-3,.m-grid-4,
    .m-grid-5,.m-grid-6,.m-grid-7,.m-grid-8,.m-grid-9,.m-grid-all,.m-grid-half,
    .m-grid-quarter,.m-grid-third,.m-grid-three-quarters,.m-grid-two-thirds,
    .m-grid-whole
    {margin:0;clear:none;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;*behavior:url(boxsizing.htc)}
    .m-offset-0{margin-left:0}
    .m-grid-1{width:8.33333%}
    .m-offset-1{margin-left:8.33333%}
    .m-grid-2{width:16.66667%}
    .m-offset-2{margin-left:16.66667%}
    .m-grid-3,.m-grid-quarter{width:25%}
    .m-offset-3{margin-left:25%}
    .m-grid-4,.m-grid-third{width:33.33333%}
    .m-offset-4{margin-left:33.33333%}
    .m-grid-5{width:41.66667%}
    .m-offset-5{margin-left:41.66667%}
    .m-grid-6,.m-grid-half{width:50%}
    .m-offset-6{margin-left:50%}
    .m-grid-7{width:58.33333%}
    .m-offset-7{margin-left:58.33333%}
    .m-grid-8,.m-grid-two-thirds{width:66.66667%}
    .m-offset-8{margin-left:66.66667%}
    .m-grid-9,.m-grid-three-quarters{width:75%}
    .m-offset-9{margin-left:75%}
    .m-grid-10{width:83.33333%}
    .m-offset-10{margin-left:83.33333%}
    .m-grid-11{width:91.66667%}
    .m-offset-11{margin-left:91.66667%}
    .m-grid-12,.m-grid-whole{width:100%}
    .m-offset-12{margin-left:100%}
    .m-padded{padding:.5em}
    .m-padded-left{padding-left:.5em}
    .m-padded-right{padding-right:.5em}
    .m-padded-top{padding-top:.5em}
    .m-padded-bottom{padding-bottom:.5em}
    .m-padded-sides{padding:0 .5em}
    .m-padded-vertical{padding:.5em 0}
    .m-padded-inner{padding:1em}
    .m-padded-inner-sides{padding:0 1em}
    .m-padded-reverse{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}
    .m-padded-reverse-all{margin:-.5em;width:auto;box-sizing:content-box;float:none}
    .m-flow-opposite{float:right}
    .m-center{text-align:center}
    .m-left{text-align:left}
    .m-right{text-align:right}
    .m-hidden{display:none}
}
@media (min-width:801px){
    .l-grid-1,.l-grid-10,.l-grid-11,.l-grid-12,.l-grid-2,.l-grid-3,.l-grid-4,
    .l-grid-5,.l-grid-6,.l-grid-7,.l-grid-8,.l-grid-9,.l-grid-all,.l-grid-half,
    .l-grid-quarter,.l-grid-third,.l-grid-three-quarters,.l-grid-two-thirds,
    .l-grid-whole
    {margin:0;clear:none;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;*behavior:url(boxsizing.htc)}
    .l-offset-0{margin-left:0}
    .l-grid-1{width:8.33333%}
    .l-offset-1{margin-left:8.33333%}
    .l-grid-2{width:16.66667%}
    .l-offset-2{margin-left:16.66667%}
    .l-grid-3,.l-grid-quarter{width:25%}
    .l-offset-3{margin-left:25%}
    .l-grid-4,.l-grid-third{width:33.33333%}
    .l-offset-4{margin-left:33.33333%}
    .l-grid-5{width:41.66667%}
    .l-offset-5{margin-left:41.66667%}
    .l-grid-6,.l-grid-half{width:50%}
    .l-offset-6{margin-left:50%}
    .l-grid-7{width:58.33333%}
    .l-offset-7{margin-left:58.33333%}
    .l-grid-8,.l-grid-two-thirds{width:66.66667%}
    .l-offset-8{margin-left:66.66667%}
    .l-grid-9,.l-grid-three-quarters{width:75%}
    .l-offset-9{margin-left:75%}
    .l-grid-10{width:83.33333%}
    .l-offset-10{margin-left:83.33333%}
    .l-grid-11{width:91.66667%}
    .l-offset-11{margin-left:91.66667%}
    .l-grid-12,.l-grid-whole{width:100%}
    .l-offset-12{margin-left:100%}
    .l-padded{padding:.5em}
    .l-padded-left{padding-left:.5em}
    .l-padded-right{padding-right:.5em}
    .l-padded-top{padding-top:.5em}
    .l-padded-bottom{padding-bottom:.5em}
    .l-padded-sides{padding:0 .5em}
    .l-padded-vertical{padding:.5em 0}
    .l-padded-inner{padding:1em}
    .l-padded-inner-sides{padding:0 1em}
    .l-padded-reverse{margin:0 -.5em;width:auto;box-sizing:content-box;float:none}
    .l-padded-reverse-all{margin:-.5em;width:auto;box-sizing:content-box;float:none}
    .l-flow-opposite{float:right}
    .l-center{text-align:center}
    .l-left{text-align:left}
    .l-right{text-align:right}
    .l-hidden{display:none}
}
